In [4]:
import numpy as np 
import pandas as pd

In [5]:
df =pd.read_csv("employees.csv")

In [6]:
df

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [7]:
df =pd.read_csv("C:\\Users\\Choud\\Downloads\\titanic - titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Choud\\Downloads\\titanic - titanic.csv'

In [ ]:
df = pd.read_csv("C:\\Users\\Choud\\Downloads\\titanic - titanic.csv")

In [ ]:
df

##  top 5 data

In [8]:
df.head(2)

   emp_id  name deprtement  salary
0       1  aman         it     200
1       2   sam       sles     100

In [9]:
df.head(10)

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

## bottom 5 data

In [10]:
df.tail(2)

   emp_id     name deprtement  salary
2       3   aniket      sales     500
3       4  pallavi         it     200

In [11]:
df.tail(10)

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

## ramdom index data

In [12]:
df.sample(4)

   emp_id     name deprtement  salary
0       1     aman         it     200
2       3   aniket      sales     500
3       4  pallavi         it     200
1       2      sam       sles     100

In [13]:
df = pd.read_csv("C://Users//Choud//Downloads/covid_toy - covid_toy.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C://Users//Choud//Downloads/covid_toy - covid_toy.csv'

In [ ]:
df

In [ ]:
ds = pd.read_csv("C://Users//Choud//Downloads/placement - placement.csv")
ds

In [18]:
df.head(10)

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [19]:
df.tail(10)

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   emp_id      4 non-null      int64
 1   name        4 non-null      object
 2   deprtement  4 non-null      object
 3   salary      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [21]:
df.describe()

         emp_id      salary
count  4.000000    4.000000
mean   2.500000  250.000000
std    1.290994  173.205081
min    1.000000  100.000000
25%    1.750000  175.000000
50%    2.500000  200.000000
75%    3.250000  275.000000
max    4.000000  500.000000

In [22]:
df

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [24]:
tp=df.iloc[:4,:3]## iloc[row_range,column_range]
tp

   emp_id     name deprtement
0       1     aman         it
1       2      sam       sles
2       3   aniket      sales
3       4  pallavi         it

In [26]:
ts=df.loc[1:3,["name","deprtement"]]## iloc[row_range,column_range]
ts

      name deprtement
1      sam       sles
2   aniket      sales
3  pallavi         it

In [27]:
ts=df.empty
ts

False

In [28]:
df.isnull().sum() ## for check missing value

emp_id        0
name          0
deprtement    0
salary        0
dtype: int64

In [29]:
df.dropna() ## for removing missing values

   emp_id     name deprtement  salary
0       1     aman         it     200
1       2      sam       sles     100
2       3   aniket      sales     500
3       4  pallavi         it     200

In [30]:
i=df.ndim
i

2

In [32]:
df = pd.read_csv("C://Users//Choud//Downloads/flipkart.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'C://Users//Choud//Downloads/flipkart.csv'

In [135]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CGtC98 href  24 non-null     object
 1   DByuf4 src   24 non-null     object
 2   uu79Xy       24 non-null     object
 3   KzDlHZ       24 non-null     object
 4   XQDdHH       24 non-null     float64
 5   Rza2QY src   24 non-null     object
 6   Wphh3N       24 non-null     object
 7   hG7V+4       24 non-null     object
 8   Wphh3N 2     24 non-null     object
 9   J+igdf       24 non-null     object
 10  J+igdf 2     24 non-null     object
 11  J+igdf 3     24 non-null     object
 12  J+igdf 4     24 non-null     object
 13  J+igdf 5     24 non-null     object
 14  J+igdf 6     15 non-null     object
 15  Nx9bqj       24 non-null     object
 16  yRaY8j       23 non-null     object
 17  UkUFwK       23 non-null     object
 18  yiggsN       24 non-null     object
 19  _0CSTHy src  23 non-null     object
 20  yiggsN 2     24 non-null     object
 21  yiggsN 3     24 non-null     object
 22  yiggsN 4     22 non-null     object
 23  yiggsN 5     22 non-null     object
dtypes: float64(1), object(23)
memory usage: 5.0+ KB

In [137]:
ds.describe()

          XQDdHH
count  24.000000
mean    4.554167
std     0.072106
min     4.400000
25%     4.500000
50%     4.550000
75%     4.600000
max     4.700000

In [139]:
ds.tail()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,...,J+igdf 6,Nx9bqj,yRaY8j,UkUFwK,yiggsN,_0CSTHy src,yiggsN 2,yiggsN 3,yiggsN 4,yiggsN 5
21,https://www.flipkart.com/vivo-x-fold3-pro-luna...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo X Fold3 Pro (Lunar White, 512 GB)",4.7,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",62 Ratings,&,8 Reviews,16 GB RAM | 512 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹1,59,999","₹1,69,999",5% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"₹38,150",Off on Exchange,Bank Offer
22,https://www.flipkart.com/apple-iphone-15-green...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"Apple iPhone 15 (Green, 256 GB)",4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,54,687 Ratings",&,"9,230 Reviews",256 GB ROM,...,NaN,"₹74,400","₹79,900",6% off,Free delivery,NaN,Only few left,Upto,"₹41,150",Off on Exchange
23,https://www.flipkart.com/apple-iphone-16e-blac...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"Apple iPhone 16e (Black, 128 GB)",4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",711 Ratings,&,34 Reviews,128 GB ROM,...,NaN,"₹57,999","₹59,900",3% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Upto,"₹38,750",Off on Exchange
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
ds.head()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,...,J+igdf 6,Nx9bqj,yRaY8j,UkUFwK,yiggsN,_0CSTHy src,yiggsN 2,yiggsN 3,yiggsN 4,yiggsN 5
0,https://www.flipkart.com/samsung-galaxy-s24-fe...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 FE 5G (Blue, 128 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,747 Ratings",&,151 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹34,999","₹59,999",41% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Upto,"₹21,450",Off on Exchange
1,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Marble Gray, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹54,999","₹74,999",26% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"₹31,050",Off on Exchange,Bank Offer
2,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24+ 5G (Cobalt Violet, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,559 Ratings",&,594 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹52,999","₹99,999",47% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only 1 left,Upto,"₹31,050",Off on Exchange
3,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24+ 5G (Onyx Black, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,559 Ratings",&,594 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹52,999","₹99,999",47% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only few left,Upto,"₹31,050",Off on Exchange
4,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Onyx Black, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"₹60,999","₹79,999",23% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"₹38,150",Off on Exchange,Bank Offer